normal code

In [2]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[]
for i in a:
    a2.append(i**2)
print(a)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
a3=[i**3 for i in a]
#syntax is newlist=[operation loop condition] 
print(a3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
#create a list of five names , then use comprehension to create another list that will contain only first letter from each name
names= ['Virat','Rohit', 'Sachin','Dravid', 'Ganguly']
a2=[name[0] for name in names]
print(a2)

['V', 'R', 'S', 'D', 'G']

In [7]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[i/2 for i in a if i%2==0]
print(b)

[1.0, 2.0, 3.0, 4.0, 5.0]

#wap to create a list of 10 numbers , then use comprehension , to create another list of odd numbers
#wap to create a list of 10 numbers , then use comprehension , to create another list of even numbers
#wap to create a list given below a = ['2','3','5', '10'] then use comprehension to create another list of only int numbers
#wap to add elements 0f 2 list in a 3rd list using comprehension,assuming both list are equal in length

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[i for i in a if i%2==0]
print(b)

[2, 4, 6, 8, 10]

In [2]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[i for i in a if i%2!=0]
print(b)

[1, 3, 5, 7, 9]

In [5]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
n=len(a)
c=[a[i]+b[i] for i in range(n)]
print(c)

[7, 9, 11, 13, 15]

In [6]:
a=['1','2','3','4','5']
b=[int(i) for i in a]
print(b)

[1, 2, 3, 4, 5]

In [4]:
#to display indexes -- enumerate
colors=['red','green','blue','yellow']
for i in enumerate(colors):
    print(i)

(0, 'red')
(1, 'green')
(2, 'blue')
(3, 'yellow')
0 red
1 green
2 blue
3 yellow

In [5]:
#also 
for index,value in enumerate(colors):
    print(index, value)

0 red
1 green
2 blue
3 yellow

In [6]:
for index,value in enumerate(colors):
    if index%2==0:
        print(f'üî•{value}')
    else:
        print(f'‚ùå{value}')

üî•red
‚ùågreen
üî•blue
‚ùåyellow

In [7]:
#zip--when you want to pass multiple sequences in one
name=['Alex','Mary','Sam','Alice']
hindi=[56,70,90,45]
english=[67,89,90,78]
for n,i in zip(name,hindi):
    print(f'{n} got {i} in Hindi')

Alex got 56 in Hindi
Mary got 70 in Hindi
Sam got 90 in Hindi
Alice got 45 in Hindi

In [9]:
for n,i,e in zip(name,hindi,english):
    print(f'{n} got {i} in hindi and {e} in english and Total = {i+e}')

Alex got 56 in hindi and 67 in english and Total =123
Mary got 70 in hindi and 89 in english and Total =159
Sam got 90 in hindi and 90 in english and Total =180
Alice got 45 in hindi and 78 in english and Total =123

In [10]:
for n,h,e in zip(name,hindi,english):
    print(f'{n:<10} hindi = {h} | english = {e} | total = {h+e}')

#{n:<10} formatting at left corner occupy 10 character space
#{n:>10} formatting at right corner occupy 10 character space
#{n:^10} formatting at center align occupy 10 character space

Alex       hindi = 56 | english = 67 | total = 123
Mary       hindi = 70 | english = 89 | total = 159
Sam        hindi = 90 | english = 90 | total = 180
Alice      hindi = 45 | english = 78 | total = 123