In [2]:
students = {
    'Maulik' : 'MU',
    'Aman' : 'NPGC',
    'Abhay' : 'NPGC',
    'Mazahir' : 'AU',
    'Imadul' : 'IU',
    'Prashutosh' : 'SHUATS'
}

In [3]:
students['Mazahir']

'AU'

In [4]:
students = {
    'Maulik' : 'MU',
    'Aman' : 'NPGC',
    'Abhay' : 'NPGC',
    'Mazahir' : {'college':'AU',
                 'type':'offline'},
    'Imadul' : 'IU',
    'Prashutosh' : 'SHUATS',
    'Shoeb':{
        'college':'IET',
        'type':'online'
    },
    'Mandavi':{
        'college':'HNBGU',
        'type':'offline'
    }
}

In [5]:
students['Mazahir']

{'college': 'AU', 'type': 'offline'}

In [7]:
from pprint import pp    #to display dictionary properly where pp stands for pretty print
pp(students)

{'Maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': {'college': 'AU', 'type': 'offline'},
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'offline'}}

In [8]:
students['Mazahir']['college']

'AU'

In [9]:
#add data
students['Shreya']={
    'college' : 'BBDU',
    'Type' : 'online'
}

In [10]:
pp(students)

{'Maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': {'college': 'AU', 'type': 'offline'},
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'offline'},
 'Shreya': {'college': 'BBDU', 'Type': 'online'}}

In [11]:
students['Shoeb']['type']='flexi'

In [12]:
pp(students)

{'Maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': {'college': 'AU', 'type': 'offline'},
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'type': 'offline'},
 'Shreya': {'college': 'BBDU', 'Type': 'online'}}

In [13]:
students.pop('Abhay')

'NPGC'

In [14]:
pp(students)

{'Maulik': 'MU',
 'Aman': 'NPGC',
 'Mazahir': {'college': 'AU', 'type': 'offline'},
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'type': 'offline'},
 'Shreya': {'college': 'BBDU', 'Type': 'online'}}

In [15]:
students['Mazahir']['Age']='14'

In [16]:
pp(students)

{'Maulik': 'MU',
 'Aman': 'NPGC',
 'Mazahir': {'college': 'AU', 'type': 'offline', 'Age': '14'},
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'type': 'offline'},
 'Shreya': {'college': 'BBDU', 'Type': 'online'}}

In [3]:
report = {
    'class10' : {
        'rohan' : {
            'english': 90,
            'maths': 95,
            'hindi': 85,
            'science' : 95,
            'social':95,
            'pe':95,
        },
        'mohit' : {
            'english': 50,
            'maths': 55,
            'hindi': 45,
            'science' : 55,
            'social':55,
            'pe':95,},
        'shreya':{
            'english': 80,
            'maths': 95,
            'hindi': 85,
            'science' : 95,
            'social': 95,
            'pe': 95,
        },
        'shubham':{
            'english': 90,
            'maths': 95,
            'hindi': 75,
            'science' : 95,
            'social':65,
            'pe':95,
        },
        'shruti':{
            'english': 40,
            'maths': 55,
            'hindi': 85,
            'science' : 95,
            'social':85,
            'pe':92,
        },
        'alex':{
            'english': 90,
            'maths': 95,
            'hindi': 45,
            'science' : 95,
            'social':65,
            'pe':75,
        }
    }
}

In [6]:
print(report.keys())

dict_keys(['class10'])

In [7]:
print(report['class10'].keys())

dict_keys(['rohan', 'mohit', 'shreya', 'shubham', 'shruti', 'alex'])

In [9]:
report['class10']['rohan'].keys()

dict_keys(['english', 'maths', 'hindi', 'science', 'social', 'pe'])

In [15]:
report['class10'].values()

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'pe': 95}, {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'pe': 95}, {'english': 80, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'pe': 95}, {'english': 90, 'maths': 95, 'hindi': 75, 'science': 95, 'social': 65, 'pe': 95}, {'english': 40, 'maths': 55, 'hindi': 85, 'science': 95, 'social': 85, 'pe': 92}, {'english': 90, 'maths': 95, 'hindi': 45, 'science': 95, 'social': 65, 'pe': 75}])

In [16]:
movies = {
    '3 idiots' : 'a story about 3 idiot friends',
    'lunchbox' : 'a story about lunchbox',
    'dangal' : 'a story about wrestlers',
    'pk'  : 'a story about an alien',
    'taare zameen par' : 'a story about a dyslexic child',
}

In [17]:
movies.items()

dict_items([('3 idiots', 'a story about 3 idiot friends'), ('lunchbox', 'a story about lunchbox'), ('dangal', 'a story about wrestlers'), ('pk', 'a story about an alien'), ('taare zameen par', 'a story about a dyslexic child')])

In [19]:
for k,v in movies.items():
    print(f'{k:20} {v}')

3 idiots             a story about 3 idiot friends
lunchbox             a story about lunchbox
dangal               a story about wrestlers
pk                   a story about an alien
taare zameen par     a story about a dyslexic child

In [20]:
isinstance(report['class10'],dict) #verify if the object is a data type

True

In [36]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for stdname , subject in students.items():
            print('->',stdname)
            if isinstance(subject,dict):
                total=0
                for subname,marks in subject.items():
                    print('  ->',subname,'=',marks)
                    total+=marks
                print(' Total->',total)
                print(' average->',total//6)

class10
-> rohan
  -> english = 90
  -> maths = 95
  -> hindi = 85
  -> science = 95
  -> social = 95
  -> pe = 95
 Total-> 555
average-> 92
-> mohit
  -> english = 50
  -> maths = 55
  -> hindi = 45
  -> science = 55
  -> social = 55
  -> pe = 95
 Total-> 355
average-> 59
-> shreya
  -> english = 80
  -> maths = 95
  -> hindi = 85
  -> science = 95
  -> social = 95
  -> pe = 95
 Total-> 545
average-> 90
-> shubham
  -> english = 90
  -> maths = 95
  -> hindi = 75
  -> science = 95
  -> social = 65
  -> pe = 95
 Total-> 515
average-> 85
-> shruti
  -> english = 40
  -> maths = 55
  -> hindi = 85
  -> science = 95
  -> social = 85
  -> pe = 92
 Total-> 452
average-> 75
-> alex
  -> english = 90
  -> maths = 95
  -> hindi = 45
  -> science = 95
  -> social = 65
  -> pe = 75
 Total-> 465
average-> 77

In [39]:
#using sum
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for stdname , subject in students.items():
            print('->',stdname)
            if isinstance(subject,dict):
                total=sum(subject.values())
                print('   Total->',total)
                print('   Average->',total//6)

class10
-> rohan
   Total-> 555
   Average-> 92
-> mohit
   Total-> 355
   Average-> 59
-> shreya
   Total-> 545
   Average-> 90
-> shubham
   Total-> 515
   Average-> 85
-> shruti
   Total-> 452
   Average-> 75
-> alex
   Total-> 465
   Average-> 77

In [43]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for stdname , subject in students.items():
            print('->',stdname)
            if isinstance(subject,dict):
                maxi=max(subject.values())
                mini=min(subject.values())
                print('   Max->',maxi)
                print('   Min->',mini)

class10
-> rohan
   Max-> 95
   Min-> 85
-> mohit
   Max-> 95
   Min-> 45
-> shreya
   Max-> 95
   Min-> 80
-> shubham
   Max-> 95
   Min-> 65
-> shruti
   Max-> 95
   Min-> 40
-> alex
   Max-> 95
   Min-> 45

In [48]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for stdname , subject in students.items():
            print('->',stdname)
            if isinstance(subject,dict):
                maxi=None
                sub = None
            for subjects , marks in subject.items():
                if maxi is None or maxi < marks:
                    maxi = marks
                    sub = subjects
            print('  ->max',sub,maxi)

class10
-> rohan
  ->max maths 95
-> mohit
  ->max pe 95
-> shreya
  ->max maths 95
-> shubham
  ->max maths 95
-> shruti
  ->max science 95
-> alex
  ->max maths 95