In [ ]:
def adder(a,b,c):
    ans = a+b+c
    return ans

In [ ]:
adder(12,13,14)

In [2]:
# def mulltiplier(a,b,c,d):
#     ans=a*b*c*d
#     return ans

# mulltiplier(4,3,2,2)

48

In [3]:
def aoc(r):
    area=3.14*pow(r,2)
    return area

aoc(3)

28.26

types of function on the basis of parameters
-required arguments
-named arguments
-default arguments
-variable length arguments
-keyword arguments

In [1]:
def hyp(p, b):
    h=(p**2+b**2)**0.5
    return h

hyp(3,4)  #required arguments

5.0

In [8]:
def mul(a,b,c,d):
    return a*b*c*d

In [11]:
mul(c=12,a=1,b=2,d=3)     #named arguments
mul(10,11,d=12,c=10)

13200

In [12]:
def mul(a,b,c=1,d=1):
    return a*b*c*d

In [14]:
print(mul(10,20))

200

In [15]:
print(mul(10,20,30))
print(mul(10,20,30,40))
print(mul(10,20,d=30,c=40))
print(mul(10,20,c=30,d=40))

6000
240000
240000
240000

In [16]:
#variable length arguments
def multiplierv3(*data):
    result=1
    for i in data:
        result=result*i
    return result

In [18]:
print(multiplierv3(2,3))
print(multiplierv3())
print(multiplierv3(2,2,2,2,2,2,2))

6
1
128

In [19]:
#keyword arguments
def names(**items):
    for key,value in items.items():
        print(key,value)

In [20]:
names(name1='Virat',name2='Rohit',name3='Shikher')

name1 Virat
name2 Rohit
name3 Shikher

In [21]:
#generator function
def generate(start,stop):
    for i in range(start,stop):
        yield i

In [22]:
list(generate(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
# we will use it when we will need the memory intensive operations
def otp_generator():   
    import random
    for i in range(6):
        yield str(random.randint(0,9))

In [26]:
"".join(list(otp_generator()))

'367653'

In [27]:
#lambda

f=lambda x : x**2 + 10*x + 20

In [28]:
f(5)

95

In [29]:
f(5) + f(10)

315

In [30]:
g= lambda x,y: x**2 + y**2 + 10*x*y

In [31]:
g(31,12) + f(5)

4920

In [32]:
si = lambda p,r,t:p*r*t/100

In [33]:
si(10,20,30)

60.0

map and filter
mapping - to perform a function on each element of a sequence
filter -  to extarct elements from a sequence based on a condition

In [3]:
x=[2,1,5,6,20,16,10]
f = lambda i : i**2 + 10*i + 20
list(map(f,x))

[44, 31, 95, 116, 620, 436, 220]

In [4]:
print(x)
list(map(lambda i : i**2 , x))

[2, 1, 5, 6, 20, 16, 10]

[4, 1, 25, 36, 400, 256, 100]

In [5]:
list(map(int,input("enter some values:").split()))

[12, 13, 13, 14, 15]

In [11]:
#filter
x=[1,2,3,4,5,6,7,8,9]
list(filter(lambda i: i%2==0 , x))

[2, 4, 6, 8]

In [13]:
list(filter(lambda i:i>5,x))

[6, 7, 8, 9]

In [20]:
names = ['John','Alex','Jane','Jill','jack','MAry','Sam']
list(filter(lambda i: 'a' in i.lower() , names))

['Alex', 'Jane', 'jack', 'MAry', 'Sam']

file handling

In [22]:
# reading a file (text file)
file = open('t1.py')
print(file.read())
file.close()

from turtle import * #import all functions from turtle module
speed('slowest')

fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)

mainloop() #KEEP THE WINDOW OPEN UNTIL IT IS CLOSED

In [23]:
#better approach
#with - it is used to handle closing of any resource automatically
with open('t1.py') as file:
    print(file.read())

from turtle import * #import all functions from turtle module
speed('slowest')

fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)

mainloop() #KEEP THE WINDOW OPEN UNTIL IT IS CLOSED

In [26]:
sample_data="""
name,age,city
John,20,Lucknow
Dom,19,Kanpur
Raju,32,Allahabad
Karan,30,Delhi"""

print(sample_data)

name,age,city
John,20,Lucknow
Dom,19,Kanpur
Raju,32,Allahabad
Karan,30,Delhi

In [31]:
with open('data.txt','w') as file:
    file.write(sample_data)

In [29]:
with open('data.txt') as file:
    print(file.read())

name,age,city
John,20,Lucknow
Dom,19,Kanpur
Raju,32,Allahabad
Karan,30,Delhi

In [32]:
#to make a folder
import os
os.makedirs('files',exist_ok=True)

In [34]:
with open('files/data.txt','w') as file:
    file.write(sample_data)