#strings
-creating
-indexing
-slicing
-methods
    -formatting methods
    -validation methods
    -utility methods

In [4]:
a='hello'
b="Hola"
c='''This is a 
multiline message 
from the past'''
print(c)

This is a
multiline message
from the past

In [7]:
print('this is an \'important\' message')  #to use single quotes within statement we use escape sequence
print("this is an 'important' message")    #better

this is an 'important' message
this is an 'important' message

In [8]:
x=str(123)
print(x)

123

In [11]:
name = 'Syed Mazahir Mehdi Zaidi'
print(len(name))

24

In [12]:
print(name[0],name[-1])

S i

In [13]:
print(name[:5])

Syed

In [14]:
print(name[5:13])

Mazahir

In [18]:
print(name[13:])

Mehdi Zaidi

In [19]:
print(name[:])

Syed Mazahir Mehdi Zaidi

In [22]:
x="Hello"
print(x[::-1])        #reverse string

olleH

In [23]:
print(name[::2])      #alternate

Se aai ed ad

In [26]:
msg='Journey Before Destination'
name='syed mazahir mehdi zaidi'
print(msg.upper())
print(msg.lower())
print(name.title())
print(msg.capitalize())
print(msg.casefold())  #same as lower
print(msg.swapcase())

JOURNEY BEFORE DESTINATION
journey before destination
Syed Mazahir Mehdi Zaidi
Journey before destination
journey before destination
jOURNEY bEFORE dESTINATION

In [29]:
print(f'{msg:^100}')
print(f'{msg:<50}')
print(f'{msg:>50}')

                                     Journey Before Destination
Journey Before Destination
                        Journey Before Destination

In [41]:
print('num pow result')
for i in range(1,21):
    print(f'{i:3}{2:4}{i**2:6}')

num pow result
  1   2     1
  2   2     4
  3   2     9
  4   2    16
  5   2    25
  6   2    36
  7   2    49
  8   2    64
  9   2    81
 10   2   100
 11   2   121
 12   2   144
 13   2   169
 14   2   196
 15   2   225
 16   2   256
 17   2   289
 18   2   324
 19   2   361
 20   2   400

In [45]:
print('num pow result')
for i in range(1,21):
    print(f'{i:<3} {2:<4} {i**i:<6}')

num pow result
1   2    1
2   2    4
3   2    27
4   2    256
5   2    3125
6   2    46656
7   2    823543
8   2    16777216
9   2    387420489
10  2    10000000000
11  2    285311670611
12  2    8916100448256
13  2    302875106592253
14  2    11112006825558016
15  2    437893890380859375
16  2    18446744073709551616
17  2    827240261886336764177
18  2    39346408075296537575424
19  2    1978419655660313589123979
20  2    104857600000000000000000000

In [52]:
name="Dominic Toretto"
print(name.center(100))
print(name.ljust(100))
print(name.rjust(100))
#also
print(name.center(100,'*'))

                                          Dominic Toretto
Dominic Toretto
                                                                                     Dominic Toretto
******************************************Dominic Toretto*******************************************

In [53]:
#validation
a='hello'
print(a.isalpha())
print(a.isalnum())
print(a.isnumeric())

True
True
False

In [55]:
num1=input('enter a number')
if num1.isalpha():
    print('we dont want alphabets')
elif num1.isnumeric():
    print('Good Job')
    num1 = int(num1)

we dont want alphabets

In [57]:
#to check starting
name='Dr. Peter Rutherford'
if name.startswith('Dr.'):
    print('Hello Doctor')
elif name.startswith('Mr.'):
    print('Hello Mister')
elif name.startswith('Er.'):
    print('Hello Engineer')

Hello Doctor

In [58]:
name='Rahat Indori'
if name.endswith('Indori'):
    print('He is from Indore')
else:
    print('Other part')

He is from Indore

In [59]:
name.split()

['Rahat', 'Indori']

In [60]:
data='1-0,2-0,4-6,3-6,6-5'
score=data.split(',')
print(score)

['1-0', '2-0', '4-6', '3-6', '6-5']

In [62]:
user_values=input('enter the values separated by coma')
print(user_values)
print(user_values.split(','))

1,2,3,45,6
['1', '2', '3', '45', '6']

In [64]:
x=['Hello','Welcome','To','My','City']
" ".join(x)

'Hello-Welcome-To-My-City'

In [ ]:
"-".join(x)