In [1]:
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
y=1,2,3,4
print(y)
print(type(y))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
print(x[0])
print(x[-1])

1
3

In [5]:
print(y[:-2])

(1, 2)

In [6]:
x=(1,2,3,1,1,2,2,3,1,2,3,5,4)
ones = x.count(1)
print(ones)

4

In [7]:
x.index(5) #index of first 5

11

In [8]:
b=(1,2,3)
b[0]=100 #immutable

TypeError: 'tuple' object does not support item assignment

In [11]:
a=()
a=list(a)
for i in range(1,6):
    a.append(i)
a=tuple(a)
print(a)

(1, 2, 3, 4, 5)

In [12]:
#SETS
x={1,1,1,2,2,2,3,3,3,4,4,4}
print(x)

{1, 2, 3, 4}

In [13]:
colors={'red','green','blue','yellow','orange','brown','black','red'}
print(colors)

{'green', 'red', 'black', 'blue', 'brown', 'yellow', 'orange'}

In [14]:
colors.add('purple')
print(colors)
colors.remove('red')
print(colors)

{'green', 'red', 'purple', 'black', 'blue', 'brown', 'yellow', 'orange'}
{'green', 'purple', 'black', 'blue', 'brown', 'yellow', 'orange'}

In [15]:
accounts_section={
    'Ajay','Vijay','Raju',"Sohan"
}

marketing_section={
    'Ajay','Vijay','Ramesh','Mohan','Suresh'
}

accounts_section | marketing_section          #union(set operation)
#also , accounts_section.union(marketing_section )

{'Ajay', 'Mohan', 'Raju', 'Ramesh', 'Sohan', 'Suresh', 'Vijay'}

In [16]:
accounts_section & marketing_section          #intersection
#also , accounts_section.intersection(marketing_section )

{'Ajay', 'Vijay'}

In [22]:
accounts_section - marketing_section   #difference
#accounts_section.difference(marketing_section )

{'Raju', 'Sohan'}

In [20]:
marketing_section - accounts_section   #difference

{'Mohan', 'Ramesh', 'Suresh'}

In [21]:
marketing_section ^ accounts_section   #symmetric difference
# marketing_section.symmetric_difference(accounts_section)

{'Mohan', 'Raju', 'Ramesh', 'Sohan', 'Suresh'}